@page "/calculadoracripto"
<PageTitle>Calculadora</PageTitle>
<h1 style="color: green;">Conversor de criptos</h1>

<iframe src="https://www.bitgetwidget.com/pt/widget-tool/cryptocurrency-calculator?theme=white&lang=pt&showItems=corners" width="100%" height="210vh" style="border: none;"></iframe>



@code {

}
