@page "/"
@inherits LayoutComponentBase

<div class="container">

    <!-- Header -->
    <header class="mt-4">
        <h1 style="color: green;">Bem-vindo a plataforma CriptoLivra</h1>
        <p>Aqui você encontra a liberdade, fuja do leão.</p>
    </header>
    

    






    <!-- Rodapé -->
    <footer class="mt-4 text-center">
        <p>&copy; 2024 Minha Aplicação Blazor. Todos os direitos reservados.</p>
    </footer>
</div>
